	:root {
  --theme-rouge: #fd341f;
  --theme-blanc-transparent: rgba(255,255,255,0.3);
  --theme-bleu-pale: rgba(151,219,246,1);
  --theme-bleu-fonce: rgba(63,155,191,1);
  --theme-vert: #408450;
  --theme-blanc: white;
  --theme-noir: black;
}

.page {
  background-color:var(--theme-noir);
  padding:5%;
  min-height: 90vh;
  color:var(--theme-rouge);
}

h1 {
  font-family:'Verdana ', sans-serif;
  text-align:center;
  font-size:250%;

  font-weight:normal;
  line-height:1.8rem;
  color:white;
}

h2 {
  font-family:'', sans-serif;
  text-align:left;
  font-size:175%;

  font-weight:normal;
  line-height:1.8rem;
  color:white;
}

.action {
  background-color: #E5A90A;
  color: white;
  padding: 14px 20px;
  margin-top: 50px;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
  border-radius: 0.7rem;
  font-size: 17px;
}
