@import "themes.css";

body {
  margin: 0;
  background: black;
  font-family: 'Work Sans', sans-serif;
  font-weight: 800;
}

.page {
  background-color:var(--theme-noir);
  padding:5%;
  min-height: fit-content;
  color:var(--theme-rouge);
}

h1 {
  font-family:'Verdana ', sans-serif;
  text-align:center;
  font-size:250%;
  font-weight:normal;
  line-height:1.8rem;
  color:white;
}

h2 {
  font-family:'', sans-serif;
  text-align:left;
  font-size:175%;
  font-weight:normal;
  line-height:1.8rem;
  color:white;
}

.action {
  background-color: #E5A90A;
  color: white;
  padding: 1%;
  margin-top: 4%;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
  border-radius: 0.7rem;
  font-size: 17px;
}
