@import url('https://fonts.googleapis.com/css?family=Work+Sans:400,600');

	:root {
  --theme-rouge: #fd341f;
  --theme-blanc-transparent: rgba(255,255,255,0.3);
  --theme-bleu-pale: rgba(151,219,246,1);
  --theme-bleu-fonce: rgba(63,155,191,1);
  --theme-vert: #408450;
  --theme-blanc: white;
  --theme-noir: black;

  --theme-bordure-rondeur: 0.7rem;

}


body {
	margin: 0;
	background: black;
	font-family: 'Work Sans', sans-serif;
	font-weight: 800;
}

#menu-connecte {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	width: 100%;
}

#menu-deconnecte {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	width: 100%;
}

#menu-deconnecte div {
	padding-left: 10%;
	padding-right: 10%;
}

.logo{
  height: 100%;
  width: auto;
  padding: 7px 14px;
}

header {
  background: #E5A90A;
  padding-left: 2%;
	padding-right: 2%;
	padding-bottom: 1%;
}

header::after {
  content: '';
  display: table;
  clear: both;
}

.logo {
  float: left;
  padding: 20px 0;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

nav li {
  display: inline-block;
  padding-top: 15px;

  position: relative;
}

nav a {
  color: #444;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 15px;
}

nav a:hover {
  color: #000;
}

nav a::before {
  content: '';
  display: block;
  height: 5px;
  background-color: #444;

  position: absolute;
  top: 0;
  width: 0%;

  transition: all ease-in-out 250ms;
}

nav a:hover::before {
  width: 100%;
}
