@import "themes.css";

@import url('https://fonts.googleapis.com/css?family=Work+Sans:400,600');

.menu {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	width: 100%;
}

#menu-deconnecte div {
	padding-left: 10%;
	padding-right: 10%;
}

header {
  background: #E5A90A;
  padding: 0 2% 1%;
}

nav ul {
  margin: 0;
  padding: 0;
}

nav li {
  display: inline-block;
  padding-top: 13%;
  position: relative;
}

nav a {
  margin-top: 5%;
  color: #444;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 15px;
}

nav a::before {
    display: block;
    position: absolute;
    content: '';
    height: 10%;
    background-color: #444;
    top: 0;
    width: 0;
    transition: all ease-in-out 250ms;
}

nav a:hover {
  color: black;
}

nav a:hover::before {
  width: 100%;
}
