.menu {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: flex-start;
}

.menu a {
  padding-right: 1%
}

.page {
  position: relative;
  padding: 1%;
}

.page #formulaires form {
  padding-bottom: 2%;
}

.page .formulaire {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.page .formulaire div {
  display: flex;
  position: relative;
  flex-direction: row;
  justify-content: space-between;
  width: 25%;
  padding-bottom: 1%;
}

.page #preference {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.page #deconnexion {
  margin-bottom: 3%;
}
